{
  "__default__" : {
    "time" : "01:00:00",
      "mem" : 4000,
      "N" : 1,
      "name": "JOBNAME.{rule}.{wildcards}",
      "output": "logs/{rule}.{wildcards}.out"
  },
    "collate_bam" : {
      "time" : "01:00:00",
      "mem" : 5000,
      "N" : 1
    },
    "bam_to_fastq" : {
      "time" : "01:00:00",
      "mem" : 5000,
      "N" : 1
    },
    "versions" : {
      "time" : "00:01:00",
      "mem" : 1000,
      "N" : 1
    }
}
